.table {
  padding: 50px;
  caption-side: top;
}

.muscolo {
  font-style: italic;
  color: #e91e63;
}

.card {
  background-color: #303030;

  .card-header {
    background-color: #e91e63;
    box-shadow: 2px 0px 10px 0px #000000;
  }

  .card-body {
    box-shadow: 2px 0px 10px 0px #000000;
  }

  .list-group-item {
    color: white;
    background-color: #303030;
  }
}
