<section class="footer" data-aos="fade-up">
  <div class="d-flex justify-content-around">
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item fs-5 fw-bolder">Esplora</li>
      <li class="list-group-item">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="list-group-item">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"
          >Login</a
        >
      </li>
    </ul>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item fs-5 fw-bolder">Legal</li>
      <li class="list-group-item">Termini Uso e Condizioni</li>
    </ul>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item fs-5 fw-bolder">Informazioni</li>
      <li class="list-group-item">PiergioD S.R.L.</li>
      <li class="list-group-item">via Dalle Palle ,14</li>
      <li class="list-group-item">20166</li>
      <li class="list-group-item">piergio&294@gmail.com</li>
    </ul>
  </div>
</section>
