<header class="text-right">
  <!--card della scheda-->
  <div class="row">
    <div class="card col-md-8 col-sm-10 col-lg-12 border-0 bg-transparent mt-3">
      <div class="card-body">
        <!--TODO sistemare la grafica che mi sta violentando gli occhi-->
        <h5 class="card-title">{{ scheda?.nome }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Data Creazione Scheda: {{ scheda?.data }}
        </h6>
        <p class="card-text p-3">
          Numero Totale Esercizi: {{ scheda?.esercizi?.length }}
        </p>
      </div>
    </div>
  </div>
</header>
<app-back></app-back>
<app-form-crea-ese></app-form-crea-ese>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="cog"
></ngx-spinner>
