.card {
  background-color: #303030;

  .card-header {
    margin-top: 2rem;
    background-color: #e91e63;
    box-shadow: 2px 0px 10px 0px #000000;
  }

  .card-body,
  .card-footer {
    box-shadow: 2px 0px 10px 0px #000000;
    background: #303030;
  }
}
