<div class="row row-cols-1 row-cols-md-2 g-4 p-4">
  <!-- card singola della scheda-->
  <div
    class="card text-center text-white col-md-6 col-lg-3 border-0"
    *ngFor="let scheda of schede"
  >
    <div class="card-header">{{ scheda.nome }}</div>
    <div class="card-body border">
      <h5 class="card-title">
        Esercizi Presenti: {{ scheda.esercizi.length }}
      </h5>
      <!--<p class="card-text">Gruppi Muscolari presenti: Quadricipiti, Deltoidi</p>-->
      <a routerLink="/scheda/{{ scheda.id }}" class="btn btn-dark"
        >Vai agli esercizi</a
      >
    </div>
    <div class="card-footer border">Data Creazione: {{ scheda.data }}</div>
  </div>
  <!--fine card singola della scheda-->
</div>
