<header class="text-center p-5">
  <h1 class="text-white p-5">FatToFit</h1>
</header>

<!--sezione principale-->
<section class="mt-5 d-flex flex-column p-5">
  <h2 class="text-center text-white">La Tua App per i tuoi allenamenti!</h2>
  <div class="row d-flex flex-column align-items-center">
    <!--card 3-->
    <hr class="text-light" />
    <div
      class="card col-7 col-md-6 col-lg-7 m-5 p-5 d-flex flex-row-reverse border-0"
    >
      <img src="../../../assets/squat.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error
          distinctio provident sit, iusto ad laudantium sequi iure qui debitis
          eos architecto quis voluptatibus repellat odit quia tempore porro
          ullam a?
        </p>
      </div>
    </div>
    <!--card 2-->
    <div class="card col-7 col-md-6 col-lg-7 mb-5 p-5 d-flex flex-row border-0">
      <img
        src="../../../assets/attrezzatura1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda,
          ullam molestias, expedita vel cum quisquam nostrum in ex odit atque,
          officiis quibusdam. Minima iusto voluptates sunt, explicabo mollitia
          consequuntur tempora.
        </p>
      </div>
    </div>

    <!--sezione get started-->
    <hr class="text-light" />
    <div
      class="d-flex flex-column p-5 mt-5 justify-content-center align-items-center"
    >
      <h2 class="text-white">Inizia Ora e divertiti!</h2>
      <a class="btn btn-dark p-3 w-25" [routerLink]="['/signup']" role="button"
        >Get Started!</a
      >
    </div>
  </div>
</section>
<!-- sezione finale col bottone get started-->
