<header class="text-center">
  <h1 class="titolo">Fat To Fit</h1>
</header>

<!--sezione principale-->
<section class="mt-5 d-flex flex-column">
  <h2 class="text-center text-white">La Tua App per i tuoi allenamenti!</h2>
  <div
    class="row d-flex justify-content-center align-items-center flex-md-column"
  >
    <!--card 3-->
    <hr class="text-light" />
    <div
      class="card col-10 col-md-6 col-lg-7 d-flex flex-lg-row-reverse flex-sm-column border-0 bg-transparent align-items-center p-5"
      data-aos="fade-right"
    >
      <img
        src="../../../assets/attrezzatura1.jpg"
        class="card-img-top"
        alt="attrezzatura1"
      />
      <div class="card-body">
        <p class="card-text">
          L'app addatta alla creazione del tuo workout! Smetti di usare carta e
          penna e stai al passo coi tempi! Semplice e addatta ad ogni tipo di
          esigenze(non piu di tanto al momento!)
        </p>
      </div>
    </div>
    <!--card 2-->
    <div
      class="card mb-5 col-10 col-md-6 col-lg-7 d-flex flex-lg-row flex-sm-column border-0 bg-transparent align-items-center p-5"
      data-aos="fade-left"
    >
      <img
        src="../../../assets/attrezzatura1.jpg"
        class="card-img-top"
        alt="screenshot"
      />
      <div class="card-body">
        <p class="card-text">
          Crea la tua scheda, nella tua dashboard, e costruisci il tuo
          allenamento creando i tuoi esercizi che potrai modificare a
          piacimento! Metto serie e ripetizioni, descrizione esercizio e altro
        </p>
      </div>
    </div>

    <!--sezione get started-->
    <hr class="text-light" />
  </div>
  <div
    class="d-flex flex-column justify-content-center align-items-center col-12 col-md-6 col-lg-8 col-xl-12 my-5"
    data-aos="fade-up"
  >
    <h2 class="text-white">Inizia Ora e divertiti!</h2>
    <a class="btn btn-dark p-3 w-25" [routerLink]="['/signup']" role="button"
      >Get Started!</a
    >
  </div>
</section>
<!-- sezione finale col bottone get started-->
