<!--main section con le cards delle schede-->
<section class="container-fluid d-flex flex-column justify-content-center">
  <h3 class="p-3 text-white p-5">Le Tue Schede di Allenamento</h3>
  <hr class="text-light" />

  <!--ARRAY SCHEDE-->
  <app-schedacard></app-schedacard>
  <hr class="text-light" />

  <!--ACCORDION PER IL FORM-->
  <button
    type="button"
    class="btn btn-dark m-3"
    (click)="collapse.toggle()"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample"
  >
    Aggiungi una Nuova Scheda
  </button>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="p-5">
    <!--FORM PER LA CREAZIONE DELLA SCHEDA-->

    <form class="p-2" #form="ngForm" (ngSubmit)="creaNuovaScheda(form)">
      <!--inizio input nome-->
      <label for="exampleFormControlTextarea2" class="form-label text-white"
        >Inserisci Nome Scheda</label
      >
      <input
        id="exampleFormControlTextarea2"
        type="text"
        name="nome"
        ngModel
        placeholder="Inserisci nome scheda"
        class="m-2 p-2 form-control w-50"
        maxlength="150"
      />
      <button type="submit" class="btn btn-dark">Crea Scheda</button>
      <!--fine input nome-->
    </form>
  </div>
</section>
