<div id="sfondoBg" class="d-flex justify-content-center row">
  <div class="d-flex flex-column border col-lg-6 col-md-7 col-sm-4 p-3">
    <h1>Registrati</h1>
    <form #f="ngForm" (ngSubmit)="register(f)">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        type="email"
        name="email"
        ngModel
        placeholder="Inserisci la tua email"
        class="m-2 p-2 form-control w-75"
      />
      <label for="exampleFormControlTextarea2" class="form-label"
        >Username</label
      >
      <input
        id="exampleFormControlTextarea2"
        type="text"
        ngModel
        name="username"
        required
        placeholder="Inserisci il tuo username"
        class="m-2 p-2 form-control w-75"
      />
      <label for="exampleFormControlTextarea1" class="form-label">Name</label>
      <input
        type="text"
        name="name"
        ngModel
        placeholder="Inserisci il tuo nome"
        class="m-2 p-2 form-control w-75"
        id="exampleFormControlTextarea1"
      />
      <label for="inputPassword6">Password</label>
      <input
        type="password"
        name="password"
        ngModel
        aria-labelledby="passwordHelpInline"
        id="inputPassword6"
        placeholder="Inserisci la tua password"
        class="m-2 p-2 form-control w-75"
      />
      <button type="submit" class="btn btn-dark">Registrati</button>
    </form>
    <p>Oppure <a [routerLink]="['/login']">accedi</a></p>
  </div>
</div>
