body {
  height: fit-content;
  background: #303030;
}

/*da metter per far le media query*/
.contenitore {
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .contenitore {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .contenitore {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .contenitore {
    width: 1170px;
  }
}

/*COLORI FISSI*/
$coloreBottone: #e91e63;
$ombraTesto: -1px 0px 1px rgba(39, 0, 0, 0.78);
$coloreSfondo: #303030;
