body {
  height: fit-content;
  width: 100%;
  background-image: url(../assets/gradient_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  font-family: "Russo One", sans-serif;
  text-shadow: 0px 1px rgba(39, 0, 0, 0.79);
}

/*da metter per far le media query*/
.contenitore {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .contenitore {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .contenitore {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .contenitore {
    width: 1170px;
  }
}

/*COLORI FISSI*/
$coloreBottone: #e91e63;
$ombraTesto: -1px 0px 1px rgba(39, 0, 0, 0.78);
$coloreSfondo: #303030;
