<header class="text-center d-flex justify-content-center">
  <!--card dellutente!-->
  <div class="card mb-3 bg-transparent border-0">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="../../../assets/profilo.png"
          class="img-fluid rounded-start w-50"
          alt="img-profilo"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body text-secondary-emphasis">
          <h5 class="card-title">{{ user?.name }}</h5>
          <p class="card-text f-2 p-2">
            Bentornato! Qui puoi vedere le tue schede create da te finora!
          </p>
          <p class="card-text">
            <small>{{ user?.email }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<app-back></app-back>

<!--main section con le cards delle schede-->

<app-formcrea></app-formcrea>

<!--per il loading-->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p>
  ></ngx-spinner
>
